<form (submit)="Submit()" method="post" [formGroup]="formInsert">
    <ng-container *ngFor="let f of formField">
        <div class="form-group">
            <label>{{ f.name | titlecase }}</label>
            <input [type]="f.type" [formControlName]="f.name" class="form-control" [ngClass]="{'is-invalid': formInsert.get(f.name)?.errors != null 
                && formInsert.get(f.name)?.touched}">
        </div>
    </ng-container>
    <br><br>
    <button type="submit" class="btn btn-primary">Add</button>
</form>