<a [routerLink]="'/master/product/add'" class="btn btn-primary float-end">Add Product</a>
<table class="table table-stripped mt-5">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Pricing</th>
        <th scope="col">Notes</th>
        <th scope="col">Action</th>
    </tr>
    <tr *ngFor="let d of data; let i = index">
        <td>{{i}}</td>
        <td>{{d.name}}</td>
        <td>{{d.pricing}}</td>
        <td>{{d.notes}}</td>
        <td>
            <caption style="width: 100%;">
                <button type="button" class="btn btn-secondary" [routerLink]="'/master/product/' + d.id">Update</button>
                <button type="button" class="btn btn-danger ms-3" (click)="Delete(d.id)">Delete</button>
            </caption>
        </td>
    </tr>
</table>