<form (submit)="Submit()" method="post" [formGroup]="formInsert">
    <ng-container *ngFor="let f of formField">
        <div class="form-group">
            <label>{{ f | titlecase }}</label>
            <input type="text" [formControlName]="f" class="form-control" [ngClass]="{'is-invalid': formInsert.get(f)?.errors != null && formInsert.get(f)?.touched}">
        </div>
    </ng-container>
    <div class="form-group">
        <label>Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{'is-invalid': password?.errors != null && password?.touched}">
    </div>
    <label>Hanya isi password jika akan mengganti password</label> <br><br>
    <button type="submit" class="btn btn-primary">Update</button>
</form>