<form (submit)="Submit()" method="post" [formGroup]="formInsert">
    <ng-container *ngFor="let f of formField">
        <div class="form-group">
            <label>{{ f | titlecase }}</label>
            <input type="text" [formControlName]="f" class="form-control" [ngClass]="{'is-invalid': formInsert.get(f)?.errors != null && formInsert.get(f)?.touched}">
        </div>
    </ng-container>
    <button type="submit" class="btn btn-primary">Add</button>
</form>