<a [routerLink]="'/master/users/add'" class="btn btn-primary float-end">Add User</a>
<table class="table table-stripped mt-5">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Full Name</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
    </tr>
    <tr *ngFor="let d of data; let i = index">
        <td>{{i}}</td>
        <td>{{d.username}}</td>
        <td>{{d.fullName}}</td>
        <td>{{d.email}}</td>
        <td>
            <caption style="width: 100%;">
                <button type="button" class="btn btn-secondary" (click)="Update(d.username)">Update</button>
                <button type="button" class="btn btn-danger ms-3" (click)="Delete(d.username)">Delete</button>
            </caption>
        </td>
    </tr>
</table>