<h1>Login</h1>
<form [formGroup]="formLogin" (submit)="Submit()">
<div class="form-group">
  <label>Username</label>
  <input type="text" formControlName="username" [ngClass]="{'is-invalid': username?.errors != null && username?.touched}" class="form-control">
</div>
<div class="form-group">
  <label>Password</label>
  <input type="password" formControlName="password" class="form-control" [ngClass]="{'is-invalid': password?.errors != null && password?.touched}">
</div>
<div class="my-4"></div>
<button type="submit" class="btn btn-primary" [disabled]="!formLogin.valid">Login</button>
</form>